$clOrange: #FF6633;
$clGreen: #70C05B;
$clGray: #F3F2F1;
$clRed: #D80000;
$clLightOrange: #FCD5BA;
$clLightGreen: #E5FFDE;
$clLightGray: #FFFFFF;
$clLightRed: #FFC7C7;


*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;    
}

.btn__clGreen{
    background-color: $clGreen;
    color: #FFFFFF;
    font-size: 1.6rem;
}
.container{
    max-width: 144rem;
    margin: 0 auto;
}
.header__logo{
    width: 15.2rem;
    margin: 2rem 4rem 2rem 0;
}
.header__main-menu{
    padding: 0 11.6rem;
    display: flex;
    justify-content: space-between;
}

.header__user_menu{
    padding: 1.6rem;
}
.user_menu__avatar{
    height: 4rem;
    width: 4rem;
}
.user_menu__name{
    margin-left: 2rem;
}
.header__user_menu{
    display: flex;
    margin: 2rem 0;
    width: auto;
}
.user_menu__dropdown--closed>li{
    display: none;
}
.header__search-form{
    display: flex;
    margin: 2rem 4rem 2rem 0;
    width: 100%;
    position: relative;
}
.btn-catalog{
   width: 14rem;
   height: 4rem;
   padding: .8rem;
   border-radius: .4rem;
   border: none;
   position: relative;
   margin-right: 1.6rem;
   cursor: pointer;
}

.btn-catalog__burger{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 2.4rem;
    position: absolute;
    left: 1rem;
    top:.8rem;

}

.btn-catalog__label{
    display: inline-block;
    text-align: center;
    margin-left:3.2rem ;
}

.search__input {
    width: 100%;
    height: 4rem;
    padding: .8rem 1.6rem;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #70C05B;
    border-radius: .4rem

}
.search__input::placeholder {
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
 }
.search__button{
    border:none;
    outline: none;
    position: absolute;
    right: 1.1rem;
    top:.8rem;
    font-size: 2.4rem;
    background: transparent;
    cursor: pointer;
}