<section class="address">
    <div class="address__container">
         <div class="address__header">
             <h4 class="spec__title">Наши магазины</h4>
         </div>
         <div class="address__bar">
            <button class="address__item address__item-active" data-category="category1" >п.Щельяюр</button>
            <button class="address__item" data-category="category2">д.Вертеп</button>
            <button class="address__item" data-category="category3">с.Краснобор</button>
            <button class="address__item" data-category="category4">д.Диюр</button>
        </div>
        <div class="address__map" id="map"> 
            <script src="https://api-maps.yandex.ru/2.1/?apikey=540edbf5-e5a4-42d2-aae4-b1a85187a031&lang=ru_RU" type="text/javascript">
            </script> 

        </div>
    </div>
 </section>