<section class="category">
    <div class="category__container">
         <div class="category__header">
             <h2 class="category__title">Каталог</h2>
         </div>
        <div class="category__list-container">
            <ul class="category__list">
                <li class="category__list-item  category__list-item_two-col">
                    <a href="#" class="category__link">
                        <img src="images/milk.png" alt="cat1" class="category__image">
                        <span>Молоко, сыр, яйцо</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link">
                        <img src="images/bread.png" alt="cat1" class="category__image">
                        <span>Хлеб</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Фрукты и овощи</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Замороженные продукты</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Напитки</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/milk.png" alt="cat1" class="category__image">
                        <span>Кондитерские изделия</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Чай, кофе</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Бакалея</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Здоровое питание</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_two-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Зоотовары</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Непродовольственные товары</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_two-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Детское питание</span>
                    </a>
                </li>
                <li class="category__list-item  category__list-item_one-col">
                    <a href="#" class="category__link ">
                        <img src="images/meat.png" alt="cat1" class="category__image">
                        <span>Мясо, птица, колбаса</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
 </section>