<section class="category">
    <div class="category__container">
        <div class="category__header">
            <h2 class="category__title">Молоко, сыр, яйцо</h2>
        </div>
        <ul class="category__tags">
            <li class="category__tag"><a href="#" class="category__tag-btn">Товары нашего производства</a></li>
            <li class="category__tag"><a href="#" class="category__tag-btn">Полезное питание</a></li>
            <li class="category__tag"><a href="#" class="category__tag-btn">Без ГМО</a></li>
        </ul>
        <div class="category__main">
            <div class="filter">
                <form action="#" method="get" id="filter">
                    
                    <h4 class="filter__title">Фильтр</h4>
                    <div class="filter__price">
                        <div class="filter__price-title">
                            <h5>Цена</h5>
                        </div>
                        <div class="filter__price-inputs">
                            <div class="filter__field">
                                <input type="number"  class="input-min" value="100">
                            </div>
                            <div class="filter__separator">-</div>
                            <div class="filter__field">
                                <input type="number"  class="input-max" value="400">
                            </div>
                        </div>
                        <div class="filter__price-slider">
                            <div class="filter__price-progress"></div>
                        </div>
                        <div class="filter__price-range">
                            <input type="range" class="range-min" min="0" max="500" value="100">
                            <input type="range" class="range-max" min="0" max="500" value="400">
                        </div>



                    </div>

                </form>

            </div>
            <div class="category__part">
                <ul class="category__card-tag">
                    <li class="category__card-tag-item">
                        <a href="#" class="category__card-tag-btn">Фильтр 4</a>
                    </li>
                    <li class="category__card-tag-item">
                        <a href="#" class="category__card-tag-btn">Цена от 100 до 400</a>
                    </li>
                    <li class="category__card-tag-item">
                        <a href="#" class="category__card-tag-clear">Очистить фильтры</a>
                    </li>
                </ul>
                <div class="category__cards">
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod1.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <span href="#" class="card__notice">-50%</span>
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card  card__price-card_notice">
                                    44.50 ₽
                                </div>
                                <div class="card__price-normal">
                                    50,50 ₽
                                </div>
                            </div>
                            <p class="card__title">
                                Г/Ц Блингчики с мясом вес,<br>Россия 
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-zero"></span>
                                <span class="card__star-zero"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod2.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <span href="#" class="card__notice">-50%</span>
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card card__price-card_notice">
                                    44.50 ₽
                                </div>
                                <div class="card__price-normal">
                                    50,50 ₽
                                </div>
                            </div>
                            <p class="card__title">
                                Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-half"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod3.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <!-- <span href="#" class="card__notice">-50%</span> -->
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card">
                                    44.50 ₽
                                </div>
                                <!-- <div class="card__price-normal">
                                    50,50 ₽
                                </div> -->
                            </div>
                            <p class="card__title">
                                Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-half"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod4.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <span href="#" class="card__notice">-50%</span>
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card">
                                    44.50 ₽
                                </div>
                                <div class="card__price-normal">
                                    50,50 ₽
                                </div>
                            </div>
                            <p class="card__title">
                                Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-half"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod3.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <!-- <span href="#" class="card__notice">-50%</span> -->
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card">
                                    44.50 ₽
                                </div>
                                <!-- <div class="card__price-normal">
                                    50,50 ₽
                                </div> -->
                            </div>
                            <p class="card__title">
                                Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-half"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__image">
                            <img src="images/prod4.png" alt="prod1">
                        </div>
                        <a href="#" class="card__favorite"></a>
                        <span href="#" class="card__notice">-50%</span>
                        <div class="card__content">
                            <div class="card__price-line">
                                <div class="card__price-card">
                                    44.50 ₽
                                </div>
                                <div class="card__price-normal">
                                    50,50 ₽
                                </div>
                            </div>
                            <p class="card__title">
                                Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                            </p>
                            <div class="card__rating">
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-full"></span>
                                <span class="card__star-half"></span>
                                <span class="card__star-zero"></span>
                            </div>
                            <button class="card__in-cart">
                                В корзину
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category__pages"></div>
    </div>
 </section>