<section class="news">
    <div class="news__container">
         <div class="news__header">
             <h4>Статьи</h4>
             <a href="#" class="news__more">
                 Все статьи
             </a>
         </div>
         <div class="news__cards">
             <div class="news__item">
                <div class="news__image">
                    <img src="images/news1.png" alt="" > 
                </div>
                <div class="news__box">                
                    <p class="news__date">05.03.2021</p>
                    <h3 class="news__title">
                        Режим использования масок и перчаток на територии магазинов
                    </h3>
                    <p class="news__description">Подробная информация о режимах использования масок и перчаток на территории магазинов "ЛЕНТА". Информация обновляется каждый будний день.</p>
                </div>
                <a href="#" class="news__details">Подробнее</a>
             </div>
             <div class="news__item">     
                <div class="news__image">
                    <img src="images/news2.png" alt="" > 
                </div>
                <div class="news__box">
                    <p class="news__date">05.03.2021</p>
                    <h3 class="news__title">
                        Весеннее настроение для каждой
                    </h3>
                    <p class="news__description">8 Марта – это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий.</p>
                </div> 
                <a href="#" class="news__details">Подробнее</a>
             </div>
             <div class="news__item">
                <div class="news__image">
                    <img src="images/news3.png" alt="" > 
                </div>
                <div class="news__box">
                    <p class="news__date">22.02.2020</p>
                    <h3 class="news__title">
                        ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!
                    </h3>
                    <p class="news__description">Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!</p>
                </div>
                <a href="#" class="news__details">Подробнее</a>
               
             </div>
         </div>
    </div>  
 </section>