<section class="preview">
   <div class="preview__container">
        <div class="preview__header">
            <h4 class="preview__title">Акция</h4>
            <a href="#" class="preview__more">
                Все акции                
            </a>
        </div>
        <div class="preview__cards">
            <div class="card">
                <div class="card__image">
                    <img src="images/prod1.png" alt="prod1">
                </div>
                <a href="#" class="card__favorite"></a>
                <span href="#" class="card__notice">-50%</span>
                <div class="card__content">
                    <div class="card__price-line">
                        <div class="card__price-card  card__price-card_notice">
                            44.50 ₽
                        </div>
                        <div class="card__price-normal">
                            50,50 ₽
                        </div>
                    </div>
                    <p class="card__title">
                        Г/Ц Блингчики с мясом вес,<br>Россия 
                    </p>
                    <div class="card__rating">
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-zero"></span>
                        <span class="card__star-zero"></span>
                        <span class="card__star-zero"></span>
                    </div>
                    <button class="card__in-cart">
                        В корзину
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card__image">
                    <img src="images/prod2.png" alt="prod1">
                </div>
                <a href="#" class="card__favorite"></a>
                <span href="#" class="card__notice">-50%</span>
                <div class="card__content">
                    <div class="card__price-line">
                        <div class="card__price-card card__price-card_notice">
                            44.50 ₽
                        </div>
                        <div class="card__price-normal">
                            50,50 ₽
                        </div>
                    </div>
                    <p class="card__title">
                        Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                    </p>
                    <div class="card__rating">
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-half"></span>
                        <span class="card__star-zero"></span>
                    </div>
                    <button class="card__in-cart">
                        В корзину
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card__image">
                    <img src="images/prod3.png" alt="prod1">
                </div>
                <a href="#" class="card__favorite"></a>
                <!-- <span href="#" class="card__notice">-50%</span> -->
                <div class="card__content">
                    <div class="card__price-line">
                        <div class="card__price-card">
                            44.50 ₽
                        </div>
                        <!-- <div class="card__price-normal">
                            50,50 ₽
                        </div> -->
                    </div>
                    <p class="card__title">
                        Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                    </p>
                    <div class="card__rating">
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-half"></span>
                        <span class="card__star-zero"></span>
                    </div>
                    <button class="card__in-cart">
                        В корзину
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card__image">
                    <img src="images/prod4.png" alt="prod1">
                </div>
                <a href="#" class="card__favorite"></a>
                <span href="#" class="card__notice">-50%</span>
                <div class="card__content">
                    <div class="card__price-line">
                        <div class="card__price-card">
                            44.50 ₽
                        </div>
                        <div class="card__price-normal">
                            50,50 ₽
                        </div>
                    </div>
                    <p class="card__title">
                        Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное фывафыва
                    </p>
                    <div class="card__rating">
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-full"></span>
                        <span class="card__star-half"></span>
                        <span class="card__star-zero"></span>
                    </div>
                    <button class="card__in-cart">
                        В корзину
                    </button>
                </div>
            </div>
        </div>
   </div>
</section>