<section class="spec">
    <div class="spec__container">
         <div class="spec__header">
             <h4 class="spec__title">Специальные предложения</h4>
         </div>
         <div class="spec__banners">
             <div class="spec__banner  spec__banner-orange">
                <h3>Оформите карту "Северяночка</h3>
                <p>И получайте бонусы при покупке в магазинах и на сайте</p>
                <img src="images/loyaltycard.png" alt="loyaltycard">
             </div>
             <div class="spec__banner spec__banner-green">
                <h3>Покупайте акционные товары</h3>
                <p>И получайте вдвое большй бонусов</p>
                <img src="images/promoitems.png" alt="promoitems">
             </div>
         </div>
    </div>
 </section>